<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. Needs to be reformatted. Still working on this... -->

    <table class="table table-striped">
        <tbody>
            <tr th:each="job : ${jobs}">
                    <th th:text = "${job}"></th>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>